@font-face {
  font-family: 'RF Tone Bold';
  src: url('/src/styles/fonts/rf-tone-cufonfonts/RF Tone Bold.otf') format('truetype');
  font-display: auto;
}
@font-face {
  font-family: 'RF Tone Regular';
  src: url('/src/styles/fonts/rf-tone-cufonfonts/RF Tone Regular.otf') format('truetype');
  font-display: auto;
}
@font-face {
  font-family: 'RF Tone Light';
  src: url('/src/styles/fonts/rf-tone-cufonfonts/RF Tone Light.otf') format('truetype');
  font-display: auto;
}@font-face {
  font-family: 'RF Tone Ultraligh';
  src: url('/src/styles/fonts/rf-tone-cufonfonts/RF Tone Ultralight.otf') format('truetype');
  font-display: auto;
}
