$main-text-color: #41525d;
$main-green: #00a884;
$secondary-green: #25d366;
$intro-background: #f0f2f5;
$panel-header-background: #e5e7ea;
$border-stronger: #e9edef;
$search-input-background: #f0f2f5;
$intro-secondary: #667781;
$chat-input-panel-background: #f0f2f5;
$outgoing-background: #d9fdd3;
$message-primary: #111b21;

//fonts
$main-font-size: 14px;
